
<div class="container-fluid full">
    <h1 class="mt-5 text-center">Get in touch with us.</h1>
    <div class="card">
    <div class="container-fluid">
    <form  class="formstyle mt-5" action="https://formspree.io/xyydzyqq" method="POST" role="form">
        <h4>Please fill your details</h4>
    <div class="row mt-3">
    <div class="col-sm-12 form-group">                        
        <input type="text" required name="Name" class="form-control" placeholder="Name"  ngModel>                        
    </div>
    <div class="col-sm-12 form-group">                        
        <input type="number" required name="Phone_number" class="form-control" placeholder="Phone number"  ngModel>                       
    </div>
    <div class="form-group"  >      
        <div class="form-check-inline" >
            <input class="form-check-input" type="radio" name="gender" value="M" ngModel > 
            <label class="form-check-label" for="flexRadioDefault1">
            Male
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="F" ngModel >
            <label class="form-check-label" for="flexRadioDefault2">
            Female
            </label>
        </div>
   
    </div>

    <div class="col-sm-12 form-group" >   
        <label for="add"> Email</label>                     
        <input type="email" required  name="Email" ngModel class="form-control" >                    
    </div>
    <div class="col-sm-12 form-group" >   
        <label for="add"> How can we help you !!</label>                     
        <textarea type="text-center" required height="150px;" name="Message" ngModel class="form-control" > </textarea>                      
    </div>
    <div class="col-sm-12 form-group" >
        <div class="row">
            <div class="col-6"><button type="submit" class="btn btn-primary" value="infozip90@gmail.com">Get in touch</button></div>
            <div class="col-6"><button type="reset" class="btn btn-warning">Reset</button></div>
        </div>
            
        </div>
    </div>
</form>
</div>
</div>
</div>