@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
h1{
    font-family: 'Luckiest Guy', cursive;
}
.full{
    background: url('../../../assets/images/motherboard.png') ;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    background-size:cover;
}
.logo{
    height: auto;
    max-width: 100%;   
}
@media  (min-width: 768px){
    .logo{
        min-width: 500px;
    }
      
}
@media  (min-width: 992px){
    .logo{
        min-width: 700px;
    }
}