@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h1{
    font-family: 'Russo One', sans-serif;

}
.cust{
    background: url('../../assets/images/customer.png');
    background-position: left top;
    background-repeat:no-repeat;
    height: 300px;
    overflow-x: hidden;
    background-size:contain
}
.logo{
    height: auto;
    max-width: 100%;   
}
.block1{
    background-color: rgb(196, 36, 36);
}
@media  (min-width: 768px){
    .logo{
        min-width: 500px;
    }
    .cust{
        background-repeat:repeat;
    }
    .block1{
        min-height: 100%;
        min-height: 400px;
    }
    .btnstyle{
        margin-left: 120px;
        margin-right: 120px;
    }
      
   }