<header> <div class="row pt-3">            
    
        <div class="col-12  p-2 "><img src="../../assets/images/logo_metro.png"  class="img-responsive logo"></div>
   
</div></header>
<div class="row mt-5  >                                                                                                                                                                                                                                   ">
    <div class="col-sm-12 text-center">
        <h1>Stock Details</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <table class="table table-hover text-center ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Avalaibility</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="../../assets/images/item1.jpg" class="img-responsive" alt=""></td>
                <td>5</td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="../../assets/images/item2.jpg" class="img-responsive" alt=""></td>
                <td>3</td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="../../assets/images/item3.jpg" class="img-responsive" alt=""></td>
                <td>8</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><img src="../../assets/images/item4.jpg" class="img-responsive" alt=""></td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><img src="../../assets/images/item5.jpg" class="img-responsive" alt=""></td>
                <td>9</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><img src="../../assets/images/item6.jpg" class="img-responsive" alt=""></td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="row mt-5 text-center mb-5">
    <div class="col-sm-12"><button class="btn btn-warning" (click)="ondisplay()">Get Quote</button></div>
   
</div>
