<div >
    <nav>
        <div class="row pt-3">            
            <div class="col-12">
                <div class="col-sm-1 p-2 "><img src="../../assets/images/logo_metro.png"  class="img-responsive logo"></div>
            </div>
        </div>
        
    </nav>
  
    <header class="fullpage"> 
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center">
                <h1 class="para text-light mt-5">Production of products for the commercial industry.</h1>
            </div>
            <div class="col-sm-6 col-md-8 login mt-5 ">
               
                <app-login></app-login>
                

            </div>
  
            </div>
        
       
    </header>
 
    </div>
 

